<p-card header="Listado de Citas">
  <p-table [value]="citas" [paginator]="true" [rows]="5">
    <ng-template pTemplate="header">
      <tr>
        <th>Código</th>
        <th>Fecha-Hora</th>
        <th>Paciente</th>
        <th>Médico</th>
        <th>Especialidad</th>
        <th>Motivo</th>      
        <th>Estado</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cita>
      <tr>
        <td>{{ cita.codigoCita }}</td>
        <td>{{ cita.fechaHoraCita }}</td>
        <td>{{cita.paciente.nombre}}</td>
        <td>{{cita.medico.nombre}}</td>
        <td>{{cita.medico.especialidad}}</td>
        <td>{{ cita.motivo }}</td>    
        <td>{{ cita.estado }}</td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
